<a href="https://colab.research.google.com/github/EmirGn/aiprojectgrp/blob/main/heart_disaese.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import datasets, models, layers
import pandas as pd

In [ ]:
df = pd.read_csv("/content/heart.csv")

In [ ]:
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
df.duplicated().sum()

1

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x = df.drop("output", axis = 1)
y = df["output"]

In [ ]:
df = df.astype("float32")

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [ ]:
class LstmModel(layers.Layer):
  def __init__(self, input_s):
    super(LstmModel, self).__init__()
    self.lstm = layer.Lstm

In [ ]:
model = keras.Sequential(
    [FullConnLayer(16), FullConnLayer(32), FullConnLayer(64), layers.Flatten(), layers.Dense(2),]
)

In [ ]:
model.compile(
    loss = keras.losses.SparseCategoricalCrossentropy(from_logits = True),
    optimizer = keras.optimizers.Adam(learning_rate = 0.001),
    metrics = ["accuracy"]
)

In [ ]:
model.fit(x_train, y_train, epochs = 50, batch_size=32)

Epoch 1/50
8/8 [==============================] - 0s 6ms/step - loss: 0.8355 - accuracy: 0.5436
Epoch 2/50
8/8 [==============================] - 0s 5ms/step - loss: 0.6286 - accuracy: 0.6432
Epoch 3/50
8/8 [==============================] - 0s 5ms/step - loss: 0.5827 - accuracy: 0.6805
Epoch 4/50
8/8 [==============================] - 0s 5ms/step - loss: 0.5366 - accuracy: 0.7303
Epoch 5/50
8/8 [==============================] - 0s 5ms/step - loss: 0.5460 - accuracy: 0.7220
Epoch 6/50
8/8 [==============================] - 0s 5ms/step - loss: 0.5058 - accuracy: 0.7801
Epoch 7/50
8/8 [==============================] - 0s 6ms/step - loss: 0.4890 - accuracy: 0.7842
Epoch 8/50
8/8 [==============================] - 0s 6ms/step - loss: 0.4890 - accuracy: 0.7842
Epoch 9/50
8/8 [==============================] - 0s 6ms/step - loss: 0.4470 - accuracy: 0.8050
Epoch 10/50
8/8 [==============================] - 0s 5ms/step - loss: 0.4701 - accuracy: 0.7759
Epoch 11/50
8/8 [==============================] - 0s 5ms/step - loss: 0.4253 - accuracy: 0.8091
Epoch 12/50
8/8 [==============================] - 0s 6ms/step - loss: 0.4174 - accuracy: 0.8216
Epoch 13/50
8/8 [==============================] - 0s 5ms/step - loss: 0.4208 - accuracy: 0.7967
Epoch 14/50
8/8 [==============================] - 0s 5ms/step - loss: 0.4418 - accuracy: 0.8216
Epoch 15/50
8/8 [==============================] - 0s 5ms/step - loss: 0.4070 - accuracy: 0.8174
Epoch 16/50
8/8 [==============================] - 0s 5ms/step - loss: 0.4473 - accuracy: 0.7718
Epoch 17/50
8/8 [==============================] - 0s 5ms/step - loss: 0.3786 - accuracy: 0.8091
Epoch 18/50
8/8 [==============================] - 0s 5ms/step - loss: 0.3690 - accuracy: 0.8340
Epoch 19/50
8/8 [==============================] - 0s 5ms/step - loss: 0.4160 - accuracy: 0.8091
Epoch 20/50
8/8 [==============================] - 0s 5ms/step - loss: 0.3787 - accuracy: 0.8382
Epoch 21/50
8/8 [==============================] - 0s 6ms/step - loss: 0.3839 - accuracy: 0.8340
Epoch 22/50
8/8 [==============================] - 0s 5ms/step - loss: 0.3808 - accuracy: 0.8423
Epoch 23/50
8/8 [==============================] - 0s 5ms/step - loss: 0.3731 - accuracy: 0.8423
Epoch 24/50
8/8 [==============================] - 0s 5ms/step - loss: 0.3799 - accuracy: 0.8299
Epoch 25/50
8/8 [==============================] - 0s 5ms/step - loss: 0.3349 - accuracy: 0.8589
Epoch 26/50
8/8 [==============================] - 0s 5ms/step - loss: 0.3795 - accuracy: 0.8340
Epoch 27/50
8/8 [==============================] - 0s 7ms/step - loss: 0.3684 - accuracy: 0.8631
Epoch 28/50
8/8 [==============================] - 0s 9ms/step - loss: 0.3359 - accuracy: 0.8589
Epoch 29/50
8/8 [==============================] - 0s 7ms/step - loss: 0.3415 - accuracy: 0.8672
Epoch 30/50
8/8 [==============================] - 0s 7ms/step - loss: 0.3428 - accuracy: 0.8548
Epoch 31/50
8/8 [==============================] - 0s 6ms/step - loss: 0.3560 - accuracy: 0.8340
Epoch 32/50
8/8 [==============================] - 0s 7ms/step - loss: 0.3134 - accuracy: 0.8672
Epoch 33/50
8/8 [==============================] - 0s 9ms/step - loss: 0.3314 - accuracy: 0.8506
Epoch 34/50
8/8 [==============================] - 0s 9ms/step - loss: 0.3148 - accuracy: 0.8838
Epoch 35/50
8/8 [==============================] - 0s 7ms/step - loss: 0.3242 - accuracy: 0.8755
Epoch 36/50
8/8 [==============================] - 0s 7ms/step - loss: 0.3497 - accuracy: 0.8465
Epoch 37/50
8/8 [==============================] - 0s 6ms/step - loss: 0.3262 - accuracy: 0.8631
Epoch 38/50
8/8 [==============================] - 0s 6ms/step - loss: 0.3202 - accuracy: 0.8672
Epoch 39/50
8/8 [==============================] - 0s 7ms/step - loss: 0.2954 - accuracy: 0.8963
Epoch 40/50
8/8 [==============================] - 0s 7ms/step - loss: 0.2860 - accuracy: 0.8880
Epoch 41/50
8/8 [==============================] - 0s 7ms/step - loss: 0.2999 - accuracy: 0.8755
Epoch 42/50
8/8 [==============================] - 0s 7ms/step - loss: 0.2982 - accuracy: 0.8714
Epoch 43/50
8/8 [==============================] - 0s 7ms/step - loss: 0.2956 - accuracy: 0.8714
Epoch 44/50
8/8 [==============================] - 0s 8ms/step - loss: 0.3082 - accuracy: 0.8506
Epoch 45/50
8/8 [==============================] - 0s 6ms/step - loss: 0.2890 - accuracy: 0.8797
Epoch 46/50
8/8 [==============================] - 0s 6ms/step - loss: 0.2943 - accuracy: 0.8672
Epoch 47/50
8/8 [==============================] - 0s 7ms/step - loss: 0.2802 - accuracy: 0.8797
Epoch 48/50
8/8 [==============================] - 0s 7ms/step - loss: 0.2812 - accuracy: 0.8797
Epoch 49/50
8/8 [==============================] - 0s 7ms/step - loss: 0.3027 - accuracy: 0.8589
Epoch 50/50
8/8 [==============================] - 0s 7ms/step - loss: 0.2724 - accuracy: 0.8838

In [ ]:
model.evaluate(x_test, y_test)

2/2 [==============================] - 0s 8ms/step - loss: 1.0462 - accuracy: 0.5738

[1.0462229251861572, 0.5737704634666443]